﻿@model Pedido

<div class="row">
    <form asp-action="Create">
        <div class="form-goup">
            <label asp-for="Nome"></label>
            <input asp-for="Nome" />
        </div>
        <div class="form-goup">
            <label asp-for="Valor"></label>
            <input asp-for="Valor" />
        </div>
        <div class="form-goup">
            <label asp-for="ClienteId"></label>
            @Html.DropDownListFor(model => model.ClienteId, (SelectList)ViewBag.Clientes, "Selecione um Cliente")
        </div>
        <div>
            <input type="submit" value="Salvar" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>