﻿@model Pedido

<div class="row">
    <dt>
        @Html.DisplayNameFor(model => model.Nome)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Nome)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Valor)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Valor)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ClienteId)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Cliente.Nome)
    </dd>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>