﻿@model Cliente

<div class="row">
    <dt>
        @Html.DisplayNameFor(model => model.Nome)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Nome)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Idade)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Idade)
    </dd>
</div>

@* Vamos carregar os dados do pedido do cliente em uma lista em baixo dos detalhes do cliente *@

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Pedidos.First().Nome) @* utilizamos o First para acessar o primeiro e informar a propriedade *@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pedidos.First().Valor)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @* No foreach utilizamos uma validação para garantir quando nao tiver nenhum pedido ou seja quando a variel for nula, ele retorne uma lista vazia
            assim o foreach e nao quebra a aplicação e gere um erro para o usuario*@
            @foreach (var item in Model?.Pedidos ?? new List<Pedido>())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Valor)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>