﻿@model Cliente

<div class="row">
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div class="form-goup">
            <label asp-for="Nome"></label>
            <input asp-for="Nome" />
        </div>
        <div class="form-goup">
            <label asp-for="Idade"></label>
            <input asp-for="Idade" />
        </div>
        <div>
            <input type="submit" value="Salvar" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>