﻿@model Cliente

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Nome"></label>
                <input asp-for="Nome" />
            </div>
            <div class="form-group">
                <label asp-for="Idade"></label>
                <input asp-for="Idade" />
            </div>
            <div class="form-group">
                <label asp-for="Pedidos"></label>
                @Html.ListBox("PedidosId", (MultiSelectList)ViewBag.Pedidos, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>